/* Estilos para los títulos generados */
.titles-generated {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

/* Estilos para las palabras clave generadas */
.keywords-generated {
    margin-top: 20px;
    color: #777;
}

